<html>
<head>
<title>学习vue.js</title>
</head>

<body>

    <div id="vm">
        <p>Hello, {{ name }}!</p>
        <p>You are <input v-model="age"></input> years old!</p>
        <!-- <li v-repeat={{age}}></li> -->
    </div>

    <div id="info">
        name: <input v-model="name"></input><br/>
        <p v-show="languages.length">learning:<br/></p>
        <ol>
            <li v-for="t in languages">
                <dd>{{ t.name }}</dd>
            </li>
        </ol>
    </div>

</body>

<!-- 引用jQuery -->
<script src="jquery-2.1.4.js"></script>

<!-- 引用Vue -->
<script src="vue.js"></script>

<script>
    var person = {
        name: 'Robot',
        age: 19
    };
    var vm = new Vue({
        el: '#vm',
        data: person
    });
    var list = [
        {name: "java"},
        {name: "python"},
        {name: "javascript"},
        {name: "tensorflow"},
        {name: "spring"}
    ];
    var info = new Vue({
        el: "#info",
        data: {
            name: "wangle",
            languages: list
        }
    });
</script>

<html>