<html>
<head>
	<title>learning vue.js</title>
</head>

<body>
	<div id="string">
		<p>input your text: <input v-model="string" /></p>
		<p>your input: {{ string }}</p>
		<p>reversed by filter: {{ string | reversed }}</p>
		<p>reversed by computed: {{ computedReverse }}</p>
		<p>capitalize: {{ computedCapitalize }}</p>
	</div>
	<hr>
	<div id="question">
		<p>
			<span>{{ hint }}</span>
			<input v-model="question" />
		</p>
		<p>function: {{ answer }}</p>
	</div>
	<hr>
	<div id="todos">
		<p>
			input your new todo: <input v-model="newtodo" />
			<button v-on:click="addTodo" v-bind:id="Add">Add</button>
		</p>
		<ol>
			<li v-for="(todo, index) in todos">
				{{ todo.text }}
				<button @click="deleteTodo(index)" :class="Delete">Delete</button>
			</li>
		</ol>
	</div>
</body>
<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript" src="underscore.js"></script>
<script type="text/javascript" src="myvue.js"></script>
</html>